@import "../bootstrap-sass-3.3.7/assets/stylesheets/bootstrap";

html {
  background-image: url(http://sport.ua/images/teams/logo_118.png);
}

div {
  width: 60%;
  position: fixed;
  z-index: 9999;
}

body {
  margin-top: 60px;
  margin-left: 260px;
  margin-right: 260px;
  background: black;
}

h3, p {
  text-align:  center;
}