@import "../bootstrap-sass-3.3.7/assets/stylesheets/bootstrap";

html {
  background-image: url(http://sport.ua/images/teams/logo_118.png);
}

div.header {
  margin: 0px;
  padding: 0px;
  width: 100%;
<<<<<<< HEAD
  height: 100px;
  background: #1E90FF;
=======
  height: 35px;
  background: #E2D3B4;
>>>>>>> 6fb76dbf95af93ffb38d871028909cb5239df387
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

body {
  margin-top: 25px;
  margin-left: 250px;
  margin-right: 250px;
  background: orangered;
}

h1, p {
  text-align:  center;
}

h3, h2 {
  padding-left: 25px;
}
ul, p {
  padding-bottom: 25px;
}