html {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR03tPq29NjJ6hOMlzu1R_cMc3iznHM7dyW3I__KXr5fXdJnbbQ);
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-repeat: no-repeat;
}
body {
  margin-left: 250px;
  margin-right: 250px;
  background: white;
}