%head
  %title Студенты
  %link(href="/css/style.css" rel="stylesheet")
  %link(rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css")
  %meta(name="viewport" content="width=device-width, initial-scale=1")
%body
  %h3 Студенты
  %ul
    - @students.each do |student|
      %li
        %a(href="/#{student.id}")= student.first_name + ' ' + student.last_name + ' - ' + student.project_name
