%head
  %title Студенты
  %link(href="/css/alex_style.css" rel="stylesheet")
  %link(rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css")
  %meta(name="viewport" content="width=device-width, initial-scale=1")
%body
  %div.header
    %ul(class="breadcrumb")
      %li
        %a(href="/")= 'Вернуться к списку студентов'
  - @sol_sys_obj.each do |obj|
    %h1
      %a(href="/#{@student.id}/#{obj.id}")= obj.name
    - obj.solar_system_object_images.each do |imge|
      %p
        %img(src="#{imge.img_url}" width="500")